# Зависимости
node_modules/
package-lock.json

# Системные файлы
.DS_Store
Thumbs.db

# Логи и окружение
*.log
.env
.env.local

# Сборка
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Тесты и покрытие
coverage/
*.test.js
__tests__/